
h1{
    font-size: 30px;
}


.img-carousel {
    width:100%;
    height: 400px;
    object-fit: cover;
}
.col {
    margin-bottom: 20px;
}

.title {
    height: 600px;
    ;
   
background-image: url('../images/tanques.jpg') ;
background-color: rgb(15,15,20);
background-blend-mode: soft-light;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-size: cover;
background-position: center;
}

.title p {
    font-size: 18px;
    margin: 2% 20% 0 20%;
}
.title h1 {
    font-size: 30px;
    margin: 0 20% 0 20%;
    font-family: 'Roboto', sans-serif;
}
.contact{
    background-color: black;
    
}
.contact h4{
    color: white;
    font-size: 10;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 10px 0 0 0;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
